@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #1d3557;
  --bg-start: #dcf9d2;
  --bg-end: #ffffff;
  --primary: #e63946;
  --secondary: #457b9d;
  --t-primary: #023047;
  --t-secondary: #457b9d;
  --t-inverse: #f1faee;
  --link: #a8dadc;
  --link-hover: #e63946;
  --error: #e63946;
  --success: #8ecae6;
  --warning: #ffb703;
  --info: #a8dadc;
  --accent-primary: #e63946;
  --accent-secondary: #457b9d;
}

.dark {
  --foreground: #f1faee;
  --bg-start: #023047;
  --bg-end: #1d3557;
  --primary: #fb8500;
  --secondary: #8ecae6;
  --t-primary: #f1faee;
  --t-secondary: #8ecae6;
  --t-inverse: #023047;
  --link: #219ebc;
  --link-hover: #fb8500;
  --error: #e63946;
  --success: #8ecae6;
  --warning: #ffb703;
  --info: #219ebc;
  --accent-primary: #fb8500;
  --accent-secondary: #8ecae6;
}